


  
      <div class="content">
        <div class="container-fluid">
          
          <div class="row">
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
              <div class="card card-stats">
                <div class="card-header card-header-warning card-header-icon">
                  <div class="card-icon">
                    <i class="material-icons">manage_accounts</i>
                  </div>
                  <p class="card-category">Active users</p>
                  <h3 class="card-title">{{totalUsers}}
                    
                  </h3>
                </div>
                <div class="card-footer">
                  <div class="stats">
                    
                    <a href="/admin/viewusers" class="warning-link">view users</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
              <div class="card card-stats">
                <div class="card-header card-header-success card-header-icon">
                  <div class="card-icon">
                    <i class="material-icons">attach_money</i>
                  </div>
                  <p class="card-category">Revenue</p>
                  <h3 class="card-title">₹{{totalRevenue}}</h3>
                </div>
                <div class="card-footer">
                  <div class="stats">
                    <i class="material-icons">date_range</i> Total Revenue generated
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
              <div class="card card-stats">
                <div class="card-header card-header-danger card-header-icon">
                  <div class="card-icon">
                    <i class="material-icons">inventory_2</i>
                  </div>
                  <p class="card-category">Total products</p>
                  <h3 class="card-title">{{totalProducts}}</h3>
                </div>
                <div class="card-footer">
                  <div class="stats">
                    <i class="material-icons">local_offer</i> Total products listed
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
              <div class="card card-stats">
                <div class="card-header card-header-info card-header-icon">
                  <div class="card-icon">
                    <i class="material-icons">star_outline</i>
                    
                  </div>
                  <p class="card-category">Brands</p>
                  <h3 class="card-title">{{totalBrands}}</h3>
                </div>
                <div class="card-footer">
                  <div class="stats">
                    <i class="material-icons">update</i>Total brands available
                  </div>
                </div>
                
        
              </div>
            </div>
            {{!-- ccccccccccccchhhhhhhhhhhhhhart tryingggggggggggggggg --}}
          <div class="row mt-5">
            <div class="col-md-2">

            </div>
            <div class="col-md-8">
              <h1 class="text-center">USER ORDERS</h1>
              <canvas id="myChart" width="500" height="210"></canvas>
            </div>
            <div class="row mt-5">
             <div class="col-md-1">

             </div>
              <div class="col-md-4 mt-5">
                <canvas id="ppp" width="500" height="210"></canvas>
              </div>
            </div>
            
          </div>
        
         
          </div>
         
        </div>
      </div>






      
      <script>
        const x = new Date().getFullYear();
        let date = document.getElementById('date');
        date.innerHTML = '&copy; ' + x + date.innerHTML;
      </script>
    </div>
  </div>
  

  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.6.0/chart.min.js"></script>

  <script>
const ctx = document.getElementById('myChart');
const myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ['total orders', 'cancelled orders', 'Delivered order', 'Placed order'],
        datasets: [{
            label: 'Orders',
            data: [{{orderDataArray}}],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 2
        }]
    },
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }
});
</script>





<script>
const ctx2 = document.getElementById('ppp');
const myChart2 = new Chart(ctx2, {
    type: 'doughnut',
    data: {
        labels: ['total orders', 'cancelled orders', 'Delivered order', 'Placed order'],
        datasets: [{
            label: 'Orders',
            data: [{{orderDataArray}}],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 5
        }]
    },
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }
});
</script>