<div class="wrapper ">
  
    <div class="main-panel ">
        
        <div class="content d-flex justify-content-center">
            <div class="container-fluid">
                

                <div class="row">
                    <div class="col-md-12" >
                        <div class="card text-center">
                            <div class="card-header card-header-primary">
                                <h4 class="card-title " style="font-weight: bold;">Ordered Products</h4>
                            </div>
                            <div class="card-body">

                                <div class="table-responsive">
                                    <table class="table">
                                        <thead class=" text-primary">
                                            {{#if cart}}
                                            <th style="font-weight: bold;">
                                                Sl.No
                                            </th>
                                            {{/if}}
                                            <th style="font-weight: bold;">
                                                Product Image
                                            </th>
                                            <th style="font-weight: bold;">
                                                Product Name
                                            </th>
                                            <th style="font-weight: bold;">
                                                Price (₹)
                                            </th>
                                            {{#if cart}}
                                                
                                            
                                            <th style="font-weight: bold;">
                                                Quantity
                                            </th>
                                            {{/if}}

                                            <th style="font-weight: bold;">
                                                Status
                                            </th>
                                            <th style="font-weight: bold;">
                                                <input type="hidden" name="orderId" value="{{orderId}}">
                                            </th>

                                        </thead>
                                        {{#if cart}}
                                            
                                        
                                        <tbody>
                                            {{#each products}}
                                            <tr>
                                                <td>
                                                    {{add @index '1'}}
                                                </td>
                                                <td>
                                                    <img style="width:50px;height:50px"
                                                        src="/productImages/{{this.product._id}}__1.jpg" alt="">
                                                </td>
                                                <td>

                                                    {{this.product.productname}}
                                                </td>
                                                <td>
                                                    ₹<span>{{this.totalprice}}</span>
                                                </td>
                                                <td>
                                                    {{this.Quantity}}
                                                </td>

                                                


                                                <td>
                                                    
                                                   <select name="status" id="{{this.product._id}}" class="form-control text-center" onchange="updateStatus('{{this.product._id}}','{{../orderId}}')" >
                                                        <option selected value="{{this.status}}">{{this.status}}</option>
                                                        {{#eq this.status 'returned'}}

                                                        {{else}}

                                                        {{#eq this.status 'cancelled'}}

                                                        {{else}}


                                                        <option value="cancelled">Cancelled</option>
                                                        <option  value="pending">Pending</option>
                                                        <option value="shipped">Shipped</option>
                                                        <option value="delivered">Delivered</option>
                                                        <option value="returned">Returned</option>

                                                        {{/eq}}
                                                        {{/eq}}

                                                    </select>
                                                </td>
                                                
                                            </tr>
                                            {{/each}}

                                        </tbody>
                                        {{/if}}
                                        {{#if buynow}}
                                            
                                         <tbody>
                                           
                                            <tr>
                                               
                                                <td>
                                                    <img style="width:50px;height:50px"
                                                        src="/productImages/{{products.productId}}__1.jpg" alt="">
                                                </td>
                                                <td>

                                                    {{products.productname}}
                                                </td>
                                                <td>
                                                    ₹<span>{{products.price}}</span>
                                                </td>
                                              

                                                <td>
                                                   <select name="status" id="{{products.productId}}" class="form-control text-center" onchange="updateStatus('{{products.productId}}','{{orderId}}')" >
                                                        <option selected value="{{products.status}}">{{products.status}}</option>
                                                        <option value="cancelled">Cancelled</option>
                                                        <option selected value="pending">Pending</option>
                                                        <option value="shipped">Shipped</option>
                                                        <option value="delivered">Delivered</option>
                                                        <option value="returned">Returned</option>

                                                    </select>
                                                </td>
                                                
                                            </tr>
                                           

                                        </tbody>

                                        {{/if}}
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       
        
    </div>
</div>

<script>
    function updateStatus(proId,orderId){
     
        let currentStatus=document.getElementById(proId).value
        
        console.log(proId,orderId,currentStatus)
        $.ajax({
            url:'/admin/updateOrderStatus',
            data:{
                proId:proId,
                orderId:orderId,
                status:currentStatus
            },
            method:'post',
           success:(response)=>{
               
               location.reload()
           }
        })
    }
</script>