<section class="mt-5">
   <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="card mt-5">
                <div class="card-header card-header-primary">
                  <h4 class="card-title ">Products Table</h4>
                  <p class="card-category">Currently available Products</p>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table mt-5" id="myTable">
                      <thead class=" text-primary">
                        <th>
                          No
                        </th>
                        <th>
                          Product name
                        </th>
                         <th>
                          Brand
                        </th>
                        <th>
                          image
                        </th>
                        <th>
                          Quantity
                        </th>
                        <th>
                          Price
                        </th>
                        
                         <th>
                          Action
                        </th>
                      </thead>
                      <tbody >
                         {{#each products}}
                        <tr>
                            
                          <td>
                          {{add @index '1'}}
                          </td>
                          <td>
                            {{this.productname}}
                          </td>
                           <td>
                            {{this.brand}}
                          </td>
                          <td>
                            <img style="width: 50px; height: 50px;" src="/productImages/{{this._id}}__1.jpg" alt="">
                          </td>
                          <td>
                            {{this.quantity}}
                          </td>
                          <td class="text-primary">
                            {{this.price}}
                          </td>
                          <td >
                            <a href="/admin/editproducts/{{this._id}}" class="btn btn-success">Edit</a>
                            <a href="/admin/deleteproducts/{{this._id}}"  onclick="return confirm('are you sure want to delete {{this.productname}}')" class="btn btn-danger ">Delete</a>
                          </td>
                            
                         
                        </tr>
                       {{/each}}
                      </tbody>
                    </table>
                    <nav aria-label="...">
  
</nav>
                  </div>
                </div>
              </div>
            </div>
            
          </div>
        </div>
</section>


{{!-- data tables --}}
<link rel="stylesheet" type="text/css" href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.0/css/jquery.dataTables.css">
<link rel="stylesheet" type="text/css" href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.0/css/jquery.dataTables_themeroller.css">
<script type="text/javascript" charset="utf8" src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.7.1.min.js"></script>
<script type="text/javascript" charset="utf8" src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.0/jquery.dataTables.min.js" defer></script>

<script>
  $(document).ready( function () {
    $('#myTable').DataTable();
} );
</script>



