
<form action="" id="checkout-form">
    <section id="page-title" class="page-title">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12"></div>
                <h3>Checkout</h3>
            </div>


        </div>

        </div>

    </section>


    <section style="margin-top: 30px;padding-top: 50px;">
        <div class="container">
            <div class="row">
                <div class="col-md-12" style="margin-bottom: 10px ;">

                    <div class="billing-address">

                        <h5 class="checkout-box-title">SAVED ADDRESS</h5>
                        <a href="/addAddress" style="float: right;" class="btn btn-primary mr-3">Add address</a><br><br>

                        <div class="checkout-billing-adress-box">


                            <div class="row">
                                {{#each address}}
                                <div class="col-md-3">
                                    <div class="card m-3 p-3 bg-white"><i class="fa fa-apple"></i>
                                        <div class="about-product text-center mt-2">
                                            <div>
                                                <h4>Saved address</h4>
                                                <h6 class="mt-0 text-black-50">Address {{add @index '1'}}</h6>

                                            </div>
                                        </div>
                                        <div class="stats mt-2">
                                            <div class="d-flex justify-content-between p-price"><span
                                                    style="font-weight: bold;">Name</span><span>{{this.address.firstname}}</span>
                                            </div>
                                            <div class="d-flex justify-content-between p-price"><span
                                                    style="font-weight: bold;">Address</span><span>{{this.address.streetaddress}}</span>
                                            </div>
                                            <div class="d-flex justify-content-between p-price"><span
                                                    style="font-weight: bold;">Town</span><span>{{this.address.town}}</span>
                                            </div>
                                            <div class="d-flex justify-content-between p-price"><span
                                                    style="font-weight: bold;">Zipcode</span><span>{{this.address.zipcode}}</span>
                                            </div>
                                            <div class="d-flex justify-content-between p-price"><span
                                                    style="font-weight: bold;">State</span><span>{{this.address.state}}</span>
                                            </div>
                                            <div class="d-flex justify-content-between p-price"><span
                                                    style="font-weight: bold;">Phone</span><span>{{this.address.phone}}</span>
                                            </div>

                                        </div>
                                        <div class="d-flex justify-content-between total font-weight-bold mt-4">
                                            <button type="button"
                                                onclick="a('{{this.address.firstname}}','{{this.address.lastname}}','{{this.address.housename}}','{{this.address.streetaddress}}','{{this.address.address}}','{{this.address.town}}','{{this.address.state}}','{{this.address.zipcode}}','{{this.address.phone}}','{{this.address.altnum}}')"
                                                id="{{this.address._id}}" class="btn btn-primary">Select</button>
                                        </div>
                                    </div>
                                </div>
                                {{/each}}
                            </div>








                        </div>

                    </div>
                </div>
            </div>


            {{!-- form starts herre --}}


            <div class="row">
                <div class="col-md-8 col-sm-12 col-xs-12">
                    <div class="billing-address">
                        <h5 class="checkout-box-title">NEW ADDRESS</h5>
                        <div class="checkout-billing-adress-box">

                            <div class="billing-address-input clearfix">
                                <label>FIRST NAME *</label>
                                <input id="firstname" name="firstname" type="text">

                                {{!-- //hidden input --}}
                                <input type="text" name="userId" id="" value="{{user._id}}" hidden>

                            </div>
                            <div class="billing-address-input clearfix">
                                <label>LAST NAME *</label>
                                <input id="lastname" name="lastname" type="text">
                            </div>
                            <div class="billing-address-input clearfix">
                                <label>COMPANY / HOUSE NAME *</label>
                                <input id="housename" name="housename" type="text">
                            </div>
                            <div class="billing-address-input clearfix">
                                <label>ADDRESS *</label>
                                <input id="streetaddress" type="text" name="streetaddress" placeholder="Street Address">
                                <input id="address" type="text" name="address"
                                    placeholder="Fashin, suite, unite ect (optinal)">
                            </div>
                            <div class="billing-address-input clearfix">
                                <label>TOWN / CITY *</label>
                                <input id="town" name="town" type="text">
                            </div>
                            <div class="billing-address-input clearfix">
                                <label>COUNTRY / STATES</label>
                                <input id="state" name="state" type="text">
                            </div>
                            <div class="billing-address-input clearfix">
                                <label>POSTCODE / ZIP *</label>
                                <input id="zipcode" name="zipcode" type="number">
                            </div><br>
                            {{!-- <div class="billing-address-input clearfix">
                                <label>EMAIL ADDRESS *</label>
                                <input type="text">
                            </div> --}}
                            <div class="billing-address-input clearfix" style="margin-bottom:0px">
                                <label>PHONE *</label>
                                <input id="phone" name="phone" type="number">
                            </div><br>
                            {{!-- <div class="cbab-create-account">
                                <input id="regnum" type="checkbox" name="regnum">
                                <label>Use registered phone number</label>
                            </div> --}}
                            <div class="billing-address-input clearfix">
                                <label>ALTERNATE PHONE *</label>
                                <input id="altnum" name="altnum" type="number">
                            </div><br>
                            {{!-- <div class="cbab-create-account">
                                <input type="checkbox" name="saveaddress">
                                <label>Save address</label>
                            </div> --}}
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <div class="promotional-code-box">
                        <h5 class="checkout-box-title">COUPON CODE</h5>
                        <div class="pcb-content">
                            <p>Enter your coupon code if you have one</p>
                            <div class="pcb-cuppon-input clearfix">
                                <div id="errorDiv"></div>
                                <input type="text" name="coupon" id="couponCode" placeholder="Coupon code">
                                <button class="checkout-page-button hvr-bs" type="button"
                                    onclick="applyCoupons('{{totalCartPrice}}')">Apply</button>
                            </div>
                        </div>
                    </div>
                    <div class="your-order-box">
                        <h5 class="checkout-box-title">YOUR ORDER</h5>
                        <div class="yob-content">
                            <ul>
                                <li class="clearfix">Cart Subtotal <span style="font-weight: bolder;font-size: 20px;">₹
                                        {{totalCartPrice}}</span></li>
                                <li class="order-total clearfix">discount Applied ₹<span id="discountPrice">000</span>
                                </li>
                                <li class="clearfix">Shipping and Handling <span>Free Shipping</span></li>
                                <li class="order-total clearfix">Order Total <span
                                        id="totalPrice">₹{{totalCartPrice}}</span></li>
                                <input type="hidden" name="totalCartPrice" value="{{totalCartPrice}}"
                                    id="totalCartPrice">
                                    <input type="hidden" name="usdToInr" id="usdToInr">
                            </ul>
                        </div>
                    </div>

                    <div class="promotional-code-box">
                        <h5 class="checkout-box-title">PAYMENT METHOD</h5>
                        <div class="pcb-content">
                            <p>Select your payment method</p>
                            <div class="pcb-cuppon-input clearfix">
                                {{!-- changed from payment to payment method --}}
                                <input type="radio" value="COD" id="CODbutton" onclick="showPlaceOrderButton()"  name="paymentMethod">
                                <label
                                    style="margin-left: 10px;color: #000000;font-size: 14px;font-weight: 400;">COD</label>
                            </div>
                            <div class="pcb-cuppon-input clearfix">
                                <input type="radio" value="Razorpay" onclick="showPlaceOrderButton()" id="razorpayButton"  name="paymentMethod">
                                <label style="margin-left: 10px;color: #000000;font-size: 14px;font-weight: 400;">Razorpay</label>

                            </div>
                            <div class="pcb-cuppon-input clearfix">
                                <input type="radio"  id="paypalButton" onclick="avoidRepeatButton()" value="paypal" name="paymentMethod">
                                <label style="margin-left: 10px;color: #000000;font-size: 14px;font-weight: 400;">Paypal</label>
                                
                            </div>

                            {{!-- div for paypal button --}}
                             {{!-- paypal button --}}
                                
                                <div id="paypal-button"></div>




                            <div class="create-account-checkout-method">
                                <div class="place-order">
                                    <button id="placeOrderButton" type="submit" class="checkout-page-button hvr-bs">Place order</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>
</form>


<script>
    function showPlaceOrderButton(){
        document.getElementById('paypal-button').style.display = 'none'
        document.getElementById('placeOrderButton').style.display = 'block'

    }

    function avoidRepeatButton(){
        document.getElementById('paypal-button').innerHTML = ' '
    }

</script>



<script>
    function a(firstname, lastname, housename, streetaddress, address, town, state, zipcode, phone, altnum) {
        document.getElementById('firstname').value = firstname
        document.getElementById('lastname').value = lastname
        document.getElementById('housename').value = housename
        document.getElementById('streetaddress').value = streetaddress
        document.getElementById('address').value = address
        document.getElementById('town').value = town
        document.getElementById('state').value = state
        document.getElementById('zipcode').value = zipcode
        document.getElementById('phone').value = phone
        document.getElementById('altnum').value = altnum

    }
</script>




{{!-- paypal script --}}
<script src="https://www.paypalobjects.com/api/checkout.js"></script>

{{!-- cart coupon checking --}}
<script>
    function applyCoupons(cartPrice) {
        let coupon = document.getElementById('couponCode').value
        $.ajax({
            url: '/checkCouponCart/' + coupon + '/' + cartPrice,
            method: 'get',
            success: (response) => {
                if (response.invalid) {
                    document.getElementById('discountPrice').innerHTML = 000
                    document.getElementById('totalPrice').innerHTML = cartPrice
                    document.getElementById('totalCartPrice').value = cartPrice
                    document.getElementById('errorDiv').innerHTML = ' <span class="text-danger">Enter a valid coupon!!</span>'
                } else if (response.used) {
                    document.getElementById('discountPrice').innerHTML = 000
                    document.getElementById('totalPrice').innerHTML = cartPrice
                    document.getElementById('totalCartPrice').value = cartPrice
                    document.getElementById('errorDiv').innerHTML = ' <span class="text-danger">Coupon already claimed!!</span>'
                } else {
                    document.getElementById('errorDiv').innerHTML = ' '
                    document.getElementById("discountPrice").innerHTML = response.discountPrice
                    document.getElementById("totalPrice").innerHTML = response.finalPrice
                    document.getElementById("totalCartPrice").value = response.finalPrice
                }

            }
        })

    }
</script>


<script>

    function razorpayPayment(order) {
        var options = {
            "key": "rzp_test_Fu2xGkKojPgkAm", // Enter the Key ID generated from the Dashboard
            "amount": order.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
            "currency": "INR",
            "name": "Precise",
            "description": "Test Transaction",
            "image": "https://example.com/your_logo",
            "order_id": order.id, //This is a sample Order ID. Pass the `id` obtained in the previous step
            "handler": function (response) {

                verifyPayment(response, order)
            },
            "prefill": {
                "name": "Gaurav Kumar",
                "email": "gaurav.kumar@example.com",
                "contact": "9999999999"
            },
            "notes": {
                "address": "Razorpay Corporate Office"
            },
            "theme": {
                "color": "#3399cc"
            }
        };
        var rzp1 = new Razorpay(options);
        rzp1.open();
    }
    function verifyPayment(payment, order) {
        $.ajax({
            url: '/verify-payment',
            data: {
                payment,
                order
            },
            method: 'post',
            success: (response) => {
                if (response.status) {
                    location.href = '/ordersuccess'
                } else {
                    alert('payment failed')
                }
            }
        })
    }
</script>
{{!-- form validation --}}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.js"></script>

<script >
    $(document).ready(function() {
        $('#checkout-form').validate({
            rules: {
                firstname: {
                    required: true
                },
                lastname: {
                    required: true
                },
                housename: {
                    required: true
                },
                streetaddress: {
                    required: true
                },
                address: {
                    required: true
                },
                town: {
                    required: true
                },
                state: {
                    required: true
                },
                zipcode: {
                    required: true
                },
                phone: {
                    required: true
                },
                altnum: {
                    required: true
                },
                paymentMethod: {
                    required: true
                }
            },
            submitHandler: () => {
                if (document.getElementById('CODbutton').checked == true || document.getElementById('razorpayButton').checked == true || document.getElementById('paypalButton').checked == true) {
                    if (document.getElementById('CODbutton').checked == true) {
                        
                        $.ajax({
                            url: '/place-order',
                            method: 'post',
                            data: $('#checkout-form').serialize(),
                            success: (response) => {

                                if (response.codSuccess) {
                                    console.log(response)
                                    location.href = '/ordersuccess'
                                } else {
                                    location.href = '/errorPage'
                                }
                            }
                        })
                    } else if (document.getElementById('paypalButton').checked == true) {
                        document.getElementById('paypal-button').style.display = 'block'


                        paypal.Button.render({

                            // Configure environment

                            env: 'sandbox',

                            client: {

                                sandbox: 'demo_sandbox_client_id',

                                production: 'demo_production_client_id'

                            },

                            // Customize button (optional)

                            locale: 'en_US',

                            style: {

                                size: 'small',

                                color: 'gold',

                                shape: 'pill',

                            },


                            // Enable Pay Now checkout flow (optional)

                            commit: true,


                            // Set up a payment

                            payment: function(data, actions) {

                                $.ajax({
                                    url: '/currencycoverterCart/' + document.getElementById('totalCartPrice').value,
                                    method: 'post',
                                    success: (total) => {

                                        document.getElementById('usdToInr').value = total
                                    }
                                })
                                price = document.getElementById('usdToInr').value

                                return actions.payment.create({

                                    transactions: [{

                                        amount: {

                                            total: parseFloat(price).toFixed(2),

                                            currency: 'USD'

                                        }

                                    }]

                                });

                            },

                            // Execute the payment

                            onAuthorize: function(data, actions) {

                                return actions.payment.execute().then(function() {


                                    $.ajax({
                                        url: '/place-order',
                                        method: 'post',
                                        data: $('#checkout-form').serialize(),
                                        success: (response) => {

                                            if (response) {
                                                console.log(response)
                                                location.href = '/ordersuccess'
                                            } else {
                                                location.href = '/errorPage'
                                            }
                                        }
                                    })

                                    // Show a confirmation message to the buyer



                                });

                            }

                        }, '#paypal-button');
                        
                        document.getElementById('placeOrderButton').style.display = 'none'

                    }else if(document.getElementById('razorpayButton').checked == true){
                        
                        $.ajax({
                            url: '/place-order',
                            method: 'post',
                            data: $('#checkout-form').serialize(),
                            success: (response) => {
                                if (response) {
                                    razorpayPayment(response)
                                } else {
                                    location.href = '/errorPage'
                                }
                            }
                        })
                    }
                }




            }
        })
    })
     </script>


<style>
    .error {
        color: red !important;
    }

    dt {
        color: black;
    }

    .checkout-top {
        margin-bottom: 23px;
    }

    .checkout-top p,
    .checkout-top p a {
        color: #000000;
        font-family: "Montserrat", sans-serif;
        font-size: 16px;
    }

    .checkout-top p a {
        color: #d22a28;
    }

    .checkout-box-title {
        border-bottom: 1px solid #ecedee;
        color: #000000;
        font-size: 18px;
        font-weight: normal;
        letter-spacing: 0;
        padding: 16px 0;
        text-align: center;
    }

    .billing-address {
        background: #fff none repeat scroll 0 0;
        border: 1px solid #ecedee;
    }

    .checkout-billing-adress-box {
        padding: 21px 35px 50px 25px;
    }

    .billing-address-input {
        margin-bottom: 20px;
    }

    .billing-address-input label {
        color: #000000;
        float: left;
        font-size: 14px;
        font-weight: 700;
        letter-spacing: 0;
    }

    .billing-address-input select,
    .billing-address-input input[type="text"] {
        border: 0 none;
        border-bottom: 1px solid #e5e5e5;
        color: #000000;
        float: right;
        font-size: 14px;
        font-weight: 300;
        height: 40px;
        padding: 0 10px;
        width: 55%;
    }

    .billing-address-input select option {}

    .cbab-create-account {
        margin-bottom: 19px;
    }

    .cbab-create-account input[type="checkbox"] {}

    .cbab-create-account label {
        color: #000000;
        font-size: 14px;
        font-weight: 300;
        letter-spacing: 0;
        line-height: 16px;
        margin: 0;
    }

    .cbab-create-account p {
        color: #000000;
        line-height: 24px;
        margin: 12px 0 0;
    }

    .cbab-account-password {
        margin: 0 0 31px;
    }

    .cbab-account-password label {
        color: #000000;
        font-size: 14px;
        font-weight: 300;
        letter-spacing: 0;
        line-height: 16px;
        margin: 0;
    }

    .cbab-account-password input[type="password"] {
        border: 0 none;
        border-bottom: 1px solid #e5e5e5;
        color: #000000;
        float: right;
        font-size: 14px;
        font-weight: 300;
        height: 40px;
        padding: 0 10px;
        width: 55%;
    }

    .cbab-order-notes {}

    .cbab-order-notes p {
        color: #000000;
        font-size: 14px;
        font-weight: 300;
        letter-spacing: 0;
        line-height: 16px;
        margin: 0 0 10px;
    }

    .cbab-order-notes input[type="text"] {
        border: 0 none;
        border-bottom: 1px solid #e5e5e5;
        color: #000000;
        font-size: 14px;
        font-weight: 300;
        height: 40px;
        padding: 0 10px;
        width: 100%;
    }

    .promotional-code-box {
        background: #fff none repeat scroll 0 0;
        border: 1px solid #ecedee;
        margin-bottom: 30px;
        margin-top: 30px;
    }

    .pcb-content {
        padding: 0 35px 25px;
    }

    .pcb-content p {
        color: #000000;
        margin-bottom: 25px;
    }

    .pcb-cuppon-input {}

    .pcb-cuppon-input input[type="text"] {
        border: 0 none;
        border-bottom: 1px solid #e5e5e5;
        color: #000000;
        float: left;
        font-weight: 300;
        height: 40px;
        letter-spacing: 0;
        text-align: center;
        width: 46%;
    }

    .pcb-cuppon-input button {
        float: right;
        width: 50%;
    }

    .checkout-page-button {
        background: #79B4B7 none repeat scroll 0 0;
        border: 0 none;
        border-radius: 3px;
        color: #fff;
        display: inline-block;
        padding: 5px 30px;
        text-transform: uppercase;
    }

    .your-order-box {
        background: #fff none repeat scroll 0 0;
        border: 1px solid #ecedee;
        margin-bottom: 30px;
    }

    .yob-content {
        padding: 25px 25px 70px;
    }

    .yobc-title,
    .yobc-title span {
        color: #232530;
        font-family: "Montserrat", sans-serif;
        margin-bottom: 33px;
    }

    .yobc-title span {
        float: right;
    }

    .yob-content ul {
        list-style: outside none none;
        padding: 0;
    }

    .yob-content ul li {
        border-bottom: 1px solid #e5e5e5;
        color: #000000;
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 0;
        line-height: 30px;
        margin: 0 0 27px;
        padding: 0 0 1px;
    }

    .yob-content ul li.order-total {
        text-transform: uppercase;
    }

    .yob-content ul li span {
        color: #d22a28;
        float: right;
    }

    .create-account-checkout-method {}

    .select-payment-method {
        margin-bottom: 3px;
    }

    .select-payment-method input[type="checkbox"] {}

    .select-payment-method label {
        color: #000000;
        font-size: 14px;
        font-weight: 300;
        letter-spacing: 0;
        margin-left: 10px;
    }

    .create-account-text {
        border: 1px solid #e5e5e5;
        margin: 0 0 20px;
        padding: 21px 20px;
    }

    .create-account-text p {
        color: #000000;
        font-weight: 300;
        line-height: 24px;
    }

    .place-order {
        margin: 15px 0 0;
        text-align: center;
    }

    .place-order button {}
</style>