

    <section>
        
    <!-- top Products -->
	<div class="ads-grid py-sm-5 py-4">
		<div class="container py-xl-4 py-lg-2">
            {{#each products}}
                
            
			<!-- tittle heading -->
			<h3 class="tittle-w3l text-center mb-lg-5 mb-sm-4 mb-3">{{this.brand}}</h3>

            {{/each}}
			<!-- //tittle heading -->
			<div class="row">
				<!-- product left -->
				<div class="agileinfo-ads-display col-lg-12">
					<div class="wrapper">
						<!-- first section -->
						<div class="product-sec1 px-sm-4 px-3 py-sm-5  py-3 mb-4">
							<h3 class="heading-tittle text-center font-italic">New Brand watches</h3>
							
							<div class="row">
								
								{{#each products}}
									
								
								<div class="col-md-3 product-men mt-5">
									<div class="men-pro-item simpleCart_shelfItem">
										<div class="men-thumb-item text-center">
											<img src="/productImages/{{this._id}}__1.jpg" style="width: 150px;height: 200px;" alt="">
											<div class="men-cart-pro">
												<div class="inner-men-cart-pro">
													<a href="/singleview/{{this._id}}" class="link-product-add-cart"> View Product</a>
												</div>
											</div>
										</div>
										<div class="item-info-product text-center border-top mt-4">
											<h4 class="pt-1">
												<a href="/singleview/{{this._id}}">{{this.productname}}</a>
											</h4>
											<div class="info-product-price my-2">
												<span >₹{{this.price}}</span>
												
											</div>
											{{#if ../userrr}}
												
											
											<div>
												 
												{{!-- adding the product price --}}
												{{#hello ../cart this._id this.price}}
												{{/hello}} 
												
											</div>
											<div>
												<a href="/buynow/{{this._id}}" class="btn btn-success mt-3" style="width: 80%;">Buy now</a>
											</div>
											{{else}}
											<a href="/login" class="btn btn-primary mt-3" style="width: 80%;">Add to cart</a>
											<a href="/login" class="btn btn-success mt-3" style="width: 80%;">Buy now</a>
											{{/if}}
										</div>
									</div>
								</div>

								{{/each}}
								
								
							</div>
						</div>
						<!-- //first section -->
						
						
						<!-- fourth section -->
						
						<!-- //fourth section -->
					</div>
				</div>
				<!-- //product left -->

				
				</div>
			</div>
		</div>
	</div>
	<!-- //top products -->

    

	
	

    </section>
	
	

	
    
